@page "/produksi"

<PageTitle>Produksi</PageTitle>

@using DataLibrary
@using Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (stock == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="table-buatan">
		<table class="content-table">
			<thead>
				<tr>
					<th>Stock Id</th>
					<th>Crops Id</th>
					<th>Stock Quantity</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var p in stock)
				{
					<tr>
						<td>@p.Stock_Id</td>
						<td>@p.Crops_Id</td>
						<td>@p.Stock_Quantity</td>
						<td>@p.Description</td>
						<td><button class="btn btn-warning">Edit</button></td>
						<td><button class="btn btn-danger">Delete</button></td>
					</tr>
				}
			</tbody>
		</table>

		<button class="btn btn-primary" style="margin-left:25px">Insert</button>
	</div>
}


@code {
	// Models
	List<StockModel> stock;

	// sql stuff
	string sqlSelected = "SELECT * FROM Stock";

	private async Task InsertData()
	{
		string sql = "INSERT INTO tblStatus(statusCode, statusDescription) values (@StatusCode, @StatusDescription);";

		await _data.SaveData(sql, new { StatusCode = "testcode", StatusDescription = "testdesc" }, _config.GetConnectionString("default"));

		await OnInitializedAsync();
	}

	private async Task UpdateData()
	{
		string sql = "UPDATE tblStatus SET statusCode = @StatusCode WHERE statusDescription = @StatusDescription;";

		await _data.SaveData(sql, new { StatusCode = "this", StatusDescription = "testdesc" }, _config.GetConnectionString("default"));

		await OnInitializedAsync();
	}

	private async Task DeleteData()
	{
		string sql = "DELETE FROM tblStatus WHERE statusDescription = @StatusDescription";

		await _data.SaveData(sql, new { StatusDescription = "testdesc" }, _config.GetConnectionString("default"));

		await OnInitializedAsync();
	}   

	protected override async Task OnInitializedAsync()
	{
		stock = await _data.LoadData<StockModel, dynamic>(sqlSelected, new { }, _config.GetConnectionString("default"));
	}
}
